@use "../../abstracts" as a;

.feature-box {
    background-color: rgba(a.$variables-color-white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: a.$variables-default-border-radius;
    box-shadow: 0 1.5rem 4rem rgba(a.$variables-color-black, 0.25);
    transition: transform 0.3s;

    @include a.mixins-respond(tab-port) {
        padding: 2rem;
    }

    &__icon {
        font-size: 6rem;
        margin-bottom: 0.5rem;
        display: inline-block;
        background-image: linear-gradient(
            to right,
            rgba(a.$variables-color-primary-light, 1),
            rgba(a.$variables-color-primary-dark, 1)
        );
        -webkit-background-clip: text;
        color: transparent;

        @include a.mixins-respond(tab-port) {
            margin-bottom: 0;
        }
    }

    &:hover {
        cursor: pointer;
        transform: translateY(-1.5rem) scale(1.03);
    }
}
