@use "../../abstracts" as a;

.row {
    max-width: a.$variables-grid-width;
    background-color: #eee;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: a.$variables-gutter-vertical;
    }

    @include a.mixins-clearfix;

    [class^="col-"] {
        background-color: orangered;
        float: left;
        text-align: center;
        justify-items: center;
        color: a.$variables-color-white;
        &:not(:last-child) {
            margin-right: a.$variables-gutter-horizontal;
        }
        height: 5rem;
    }

    .col-1-of-2 {
        width: calc((100% - #{a.$variables-gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - 2 * #{a.$variables-gutter-horizontal}) / 3);
    }

    .col-2-of-3 {
        width: calc(
            2 * ((100% - 2 * #{a.$variables-gutter-horizontal}) / 3) + #{a.$variables-gutter-horizontal}
        );
    }

    .col-1-of-4 {
        width: calc((100% - 3 * #{a.$variables-gutter-horizontal}) / 4);
    }

    .col-2-of-4 {
        width: calc(
            2 * ((100% - 3 * #{a.$variables-gutter-horizontal}) / 4) + #{a.$variables-gutter-horizontal}
        );
    }

    .col-3-of-4 {
        width: calc(
            3 * ((100% - 3 * #{a.$variables-gutter-horizontal}) / 4) + 2 * #{a.$variables-gutter-horizontal}
        );
    }
}
