@use "../../abstracts" as a;

.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(a.$variables-color-black, 0.1);
    background-color: rgba(a.$variables-color-white, 0.6);
    border-radius: a.$variables-default-border-radius;
    padding: 6rem;
    font-size: a.$variables-default-font-size;
    padding-left: 9rem;
    transform: skew(-12deg);

    @include a.mixins-respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include a.mixins-respond(phone) {
        transform: skew(0);
    }

    &:hover &__caption {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    &:hover &__img {
        transform: scale(1);
        filter: blur(3px) brightness(80%);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skew(12deg);
        position: relative;

        @include a.mixins-respond(phone) {
            transform: translateX(-3rem) skew(0);
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.4);
        transition: all 0.5s;
    }

    &__text {
        transform: skew(12deg);

        @include a.mixins-respond(phone) {
            transform: skew(0);
        }
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: a.$variables-color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all 0.5s;
        backface-visibility: hidden;
    }
}
