@use "../abstracts" as a;
.section-about {
    background-color: a.$variables-color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include a.mixins-respond(tab-port) {
        padding: 20rem 0;
    }
}

.section-features {
    padding: 20rem 0;
    margin-top: -10rem;
    background-image: linear-gradient(
            to right bottom,
            rgba(a.$variables-color-primary-light, 0.8),
            rgba(a.$variables-color-primary-dark, 0.8)
        ),
        url("../../img/nat-4.jpg");
    background-size: cover;
    background-position: top;
    transform: skewY(-7deg);
    position: relative;

    & > * {
        transform: skewY(7deg);
    }

    @include a.mixins-respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-tours {
    background-color: a.$variables-color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    @include a.mixins-respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.section-stories {
    padding: 15rem 0;
    position: relative;

    @include a.mixins-respond(tab-port) {
        padding: 10rem 0;
    }
}

.section-booking {
    padding: 15rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba(a.$variables-color-primary-light, 0.8),
        rgba(a.$variables-color-primary-dark, 0.8)
    );

    @include a.mixins-respond(tab-port) {
        padding: 10rem 0;
    }
}

.booking {
    background-size: 100%;
    background-image: linear-gradient(
            105deg,
            rgba(a.$variables-color-white, 0.9) 50%,
            transparent 50%
        ),
        url("../../img/nat-10.jpg");
    border-radius: a.$variables-default-border-radius;
    box-shadow: 0 1.5rem 4rem rgba(a.$variables-color-black, 0.2);

    @include a.mixins-respond(tab-land) {
        background-image: linear-gradient(
                105deg,
                rgba(a.$variables-color-white, 0.7) 70%,
                transparent 70%
            ),
            url("../../img/nat-10.jpg");
        background-size: cover;
    }

    @include a.mixins-respond(tab-port) {
        background-image: linear-gradient(
                to right,
                rgba(a.$variables-color-white, 0.9) 0%,
                rgba(a.$variables-color-white, 0.9) 100%
            ),
            url("../../img/nat-10.jpg");
        background-size: cover;
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include a.mixins-respond(tab-land) {
            width: 65%;
        }

        @include a.mixins-respond(tab-port) {
            width: 100%;
        }
    }
}
